{% extends 'base.html' %}
{% load static %}

{% block title %}Profile - {% endblock %}

{% block head %}
<style type="text/css">
.card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align: center;
    margin-top: 2rem;
}

@media only screen and (maxwidth: 1000px) {
    .card {
        width: 100%;
        background-color: red;
    }
}
</style>
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="card first-card">
    <div class="card-body">
        <h5 class="card-title">Profile</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><hr></h6>
        <p class="card-text">
            <table id="profile" class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <td>{{ request.user.first_name }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ request.user.last_name }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ request.user.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ request.user.email }}</td>
                </tr>
                <tr>
                    <th>Last Login</th>
                    <td>{{ request.user.last_login }}</td>
                </tr>
                <tr>
                    <th>First Login</th>
                    <td>{{ request.user.date_joined }}</td>
                </tr>
                <tr>
                    <th>Groups</th>
                    <td>
                        <ul>
                            {% for group in request.user.groups.all %}<li>{{ group.name }}</li>{% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </p>
    </div>
</div>

{% for student in student_accounts %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Student Data</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><hr></h6>
        <p class="card-text">
            <table id="profile" class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <td>{{ student.first_name }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ student.last_name }}</td>
                </tr>
                <tr>
                    <th>Middle Name</th>
                    <td>{{ student.middle_name }}</td>
                </tr>
                <tr>
                    <th>Grade</th>
                    <td>{{ student.grade }}</td>
                </tr>
            </table>
        </p>
    </div>
</div> {% endfor %}

{% for teacher in teacher_accounts %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Teacher Data</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><hr></h6>
        <p class="card-text">
            <table id="profile" class="table table-striped">
                <tr>
                    <th>Title</th>
                    <td>{{ teacher.title }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ teacher.last_name }}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{ teacher.first_name }}</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>{{ teacher.department }}</td>
                </tr>
            </table>
        </p>
    </div>
</div> {% endfor %}

{% else %}
{% include 'registration/error-login.html' %}
{% endif %}
{% endblock %}