{% extends 'base.html' %}

{% block title %}Student Form - {% endblock %}

{% block content %}
<style>
    body {
        margin: 100px,
        width: 600px,
    }
</style>

<div align="center">
    <h2>Create a Student</h2>
</div>

<div class="card" align="center">
    {% if method == 'GET' %}
    <form method="post">
        {% csrf_token %}
        <div class="card-body">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary" value="submit" id="submit_button">
            Submit
        </button>
    </form>
    {% else %}
    <h3>Success!</h3>
    {% endif %}
</div>

{% endblock %}