#content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.message {
  background-color: #41b560;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#submit_button {
    margin-bottom: 10px;
}

.root-jumbotron {
    color: #4b0082;
    width: 100px;
    height: 100px;
}

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
    height: 40rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 40rem;  
    width: 100%;
  }

  .carousel-image {
    object-fit: cover;
    height: 40rem;
  }